<% data.options.forEach(function(option) { %>
<div class="column">
  <div class="photo-block">
    <div class="placeholder"></div>
    <%= option.name %>
    <div class="icons">
      <svg class="icon veggie" viewBox="26 26 202 210">
        <use xlink:href="#veggie"></use>
      </svg>
      <svg class="icon fries" viewBox="249 26 202 210">
        <use xlink:href="#fries"></use>
      </svg>
      <svg class="icon shake" viewBox="482 26 202 210">
        <use xlink:href="#shake"></use>
      </svg>
    </div>
  </div>
  <div class="description">

  </div>
  <button class="vote" data-name="<%= option.name %>">Vote!</button>
</div>
<% }); %>