.selected-matchup {
  .display-flex();
  font-family: @df-sans;
  padding: 40px;
  font-size: 17px;

  &.constrained {
    margin: 40px auto;
  }

  .column {
    .flex(0 0 50%);
    padding: 0 20px;
    .display-flex();
    .flex-direction(column);
    .justify-content(space-between);

    &:first-child {
      border-right: 1px solid @df-light-gray;
    }
  }

  h2 {
    font-family: @headline;
    text-align: center;
    font-size: 32px;
    margin: 0;
    font-weight: normal;
  }

  .photo-block {
    .caption {
      text-align: right;
      font-style: italic;
      font-size: 14px;
    }
  }

  .show-more {
    display: block;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 4px 0;
    display: none;
  }

  .column.collapsed .more {
    // .a11y-hidden();
  }

  .offerings {
    .display-flex();
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;

    li {
      .flex(1 1 0%);
      padding: 10px;
    }

    svg {
      width: 80%;
      display: block;
      margin: auto;
    }
  }

  .more-container {
    .flex(1 1 0%);
  }

  .description {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    b {
      font-size: 120%;
      display: block;
      color: darken(red, 10%);
      text-align: center;
      font-family: @headline;
      font-weight: normal;
    }

    li {
      margin-bottom: 16px;
    }
  }

  .vote {
    background: darken(red, 10%);
    color: white;
    font-size: 16px;
    padding: 6px 32px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: all .2s linear;
    font-family: @headline;

    &:hover, &:focus {
      background: darken(red, 20%);
    }
  }
  
}