.selected-matchup {
  .display-flex();

  .column {
    .flex(0 0 50%);
  }

  .icons {
    text-align: center;
  }

  .icon {
    display: inline-block;
    @size: 100px;
    width: @size;
    height: @size;
  }
}