<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <h1>Burger Royale</h1>
    </header>

    <main class="bracket">
      <nav class="choose-round">
        <ul>
          <% json.rounds.forEach(function(round, i) { %>
          <li>
            <input
              <%= i ? "" : 'checked="checked"' %>
              type="radio"
              class="a11y-hidden"
              name="round-selection"
              value="<%= round.sheet %>"
              id="<%= round.sheet %>">
            <label for="<%= round.sheet %>"><%= round.name %></label>
          <% }) %>
        </ul>
      </nav>
      <div hidden class="svg-templates">
        <%= t.include("./assets/burger-icons.svg") %>
      </div>
      <div class="selected-matchup constrained">

      </div>
      <div class="round-matchups constrained">

      </div>
    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.bracketData = <%= JSON.stringify(grunt.data.bracket) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
